<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <div class="navbar p-0 w-100 bg-white bg-opacity-25 mx-auto border-bottom border-3 d-flex justify-content-between align-items-stretch">
      <%= link_to lists_path, :class => "text-decoration-none text-white" do %>
        <div class="p-3 border-end rounded d-flex align-items-center justify-content-center">My watchlists</div>
      <% end %>
      <%= link_to new_list_path, :class => "text-decoration-none text-white" do %>
        <div class="p-3 border-start rounded d-flex align-items-center justify-content-center">New watchlist</div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
